[package]
name = "barter"
version = "0.1.0"
authors = ["Just A Stream <93921983+just-a-stream@users.noreply.github.com>"]
edition = "2018"
description = "High-performance & modularised trading engine & back-testing components"
license = "MIT"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
