[package]
name = "barter"
version = "0.3.1"
authors = ["Just A Stream <93921983+just-a-stream@users.noreply.github.com>"]
edition = "2018"
license = "MIT"
documentation = "https://docs.rs/barter/"
repository = "https://gitlab.com/open-source-keir/financial-modelling/trading/barter-rs"
readme = "README.md"
description = "High performance & modular trading engine & backtesting components"
keywords = ["trading", "backtesting", "crypto", "stocks", "investment"]
categories = ["accessibility", "simulation"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
barter-data = { path = "../barter-data-rs" }
log = "0.4.14"
tokio = { version = "1.12.0", features = ["full"] }
tokio-stream = { version = "0.1.7", features = ["sync"] }
uuid = {version = "0.8", features = ["v4", "serde"]}
serde = {version = "1.0", features = ["derive"]}
serde_json = "1.0"
csv = "1.1.5"
chrono = {version = "0.4.19", features = ["serde"]}
thiserror = "1.0.24"
ta = "0.4.0"
redis = "0.20.0"
prettytable-rs = "0.8.0"